{% extends "base.html" %}

{% block content %}

<div class="flex justify-center py-10 animate-fade-in">
    <div class="card w-full max-w-lg shadow-xl border border-[var(--border-color)]">
        <form method="post" enctype="multipart/form-data" class="space-y-6 mt-6">
            {% csrf_token %}
            <div class="space-y-4 text-[var(--text-main)]">
                {{ form.as_p }}
            </div>
            <div class="space-y-4 text-[var(--text-main)]">
                {{ formset.management_form }}

                {% for f in formset %}
                    {{ f.as_p }}
                {% endfor %}
            </div>

            <div class="flex gap-3 pt-4">
                <button type="submit" class="btn-primary">
                    Salvar Alterações
                </button>
                <a href="{% url 'concurso_list' %}"
                    class="w-full text-center py-2.5 border border-[var(--border-color)] rounded-lg text-[var(--text-muted)] hover:bg-gray-100 dark:hover:bg-slate-700 transition-all">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}